:root {
    --brown-color: #140200;
    --brown-transparent-color: rgba(20, 2, 0, 0.8);
    --gold-color: #b68834;
    --text-light-color: #777777;
    --text-dark-color: #222222;
    --white-color: #FFFFFF;
    --black-color: #000000;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-light-color);
}

/*------header------*/
#header {
    background-color: var(--brown-transparent-color);
}

.nav-link {
    color: var(--white-color);
    font-size: 14px;
}

.nav-link:hover {
    color: var(--gold-color);
}

/*------main------*/
/* banner*/

#banner {
    background: url(../img/header-bg.jpg) no-repeat center;
    background-size: cover;
}

.banner-content {
    padding: 15rem 0 30rem;
}

.banner-title {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--white-color);
    margin-bottom: 20px;
}

.banner-text {
    font-size: 60px;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 20px;
}

.btn-primary {
    text-decoration: none;
    font-weight: 500;
    background-color: var(--white-color);;
    border: 1px solid transparent;
    color: var(--text-dark-color);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover {
    background-color: transparent;
    border-color: var(--white-color);
    color: var(--white-color);
}

/*about*/

#about {
    padding-top: 40px;
    padding-bottom: 100px;
}

.about-video {
    position: relative;
    background: url(../img/video-bg.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
    border-radius: 10px;
}

.about-video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.78);
}

.play-btn {
    z-index: 1;
}

.about-content {
    padding: 0 15px 0 50px;
}

.about-title {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--gold-color);
    font-size: 12px;
    font-weight: 300;
}

.about-main-title {
    color: var(--black-color);
    font-weight: 600;
}

.about-text {
    color: var(--black-color);
    font-weight: 400;
}

.about-main-text {
    font-size: 14px;
    font-weight: 300;
}


/*catalog*/

#catalog {
    background: url(../img/menu-bg.jpg) center;
    background-size: cover;
    padding: 120px 0;
}

.title-row {
    text-align: center;
    margin-bottom: 60px;
}

.title-row h1 {
    margin-bottom: 10px;
    color: var(--text-dark-color);
    font-weight: 600;
}

.title-row p {
    color: var(--text-light-color);
    font-size: 14px;
    font-weight: 300;
}

.catalog-item-body {
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgb(182 136 52 / 20%);
    border-radius: 10px;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.catalog-item-body {
    cursor: pointer;
}

.catalog-item-title h4 {
    font-size: 18px;
    color: var(--text-dark-color);
    font-weight: 600;
}

.price {
    color: var(--gold-color);
    font-size: 18px;
    font-weight: 600;
}

/*gallery*/

#gallery {
    padding: 120px 0;
}

/*reviews*/

#reviews {
    background-color: var(--gold-color);
    color: var(--white-color);
    padding: 120px 0;
}

#reviews h4 {
    margin: 0 30px 25px 0;
}

#reviews .title-row h1,
#reviews .title-row p {
    color: var(--white-color);
}

/*blog*/
#blog {
    padding: 120px 0;
}

.tags {
    list-style: none;
}

.tags li {
    font-size: 12px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 4px 20px;
    transition: all 0.3s ease 0s;
}

.tags a {
    color: var(--text-dark-color);
    font-weight: 500;
    text-decoration: none;
}

.tags a:hover {
    color: var(--white-color);
}

.tags li:hover {
    background-color: var(--gold-color);
}

.blog-item-title {
    color: var(--text-dark-color);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 10px;
}

.blog-item-description {
    margin-top: 10px;
}

.blog-item-data {
    color: var(--text-dark-color);
    font-size: 14px;
    font-weight: 500;
}

/*------footer------*/

#footer {
    background: url(../img/footer-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 220px 0 120px;
    color: var(--white-color);
}

.footer-about {
    max-width: 445px;
}

.footer-news {
    max-width: 445px;
}

.footer-follow {
    max-width: 160px;
}

.footer-title {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.footer-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

.fa-heart {
    color: var(--gold-color);
}

.footer-colorlib {
    cursor: pointer;
    text-decoration: none;
    color: var(--gold-color);
}

#button-addon2 {
    background-color: var(--gold-color);
    color: white;
    border: 1px solid var(--gold-color)
}

#button-addon2:hover {
    color: var(--gold-color);
    background-color: transparent;
    transition: all 0.3s linear;
}

.footer-social a {
    margin-right: 15px;
    color: var(--white-color);
}

.footer-social a:hover {
    color: var(--gold-color);
}

.click-btn {
    width: 40px;
    background-color: var(--gold-color);
}